JWT_SECRET_KEY=your_jwt_seclet_key 

# MySQL Configuration
DB_PASSWORD=pass_database

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_EMAIL=email
SMTP_PASSWORD=app_password

APPLICATION_PORT=port

DATABASE_NAME=database_name


# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dlwdelyne
CLOUDINARY_API_KEY=492546666219541
CLOUDINARY_API_SECRET=sqV9bI_zuuyzvBV3tbO0fp8kZzQ

## GOOGLE OAUTH2 CONFIGURATION



