version: "3.8"

services:
  internship-app-backend:
    image: namvu26112005/internship-backend:dev
    container_name: backend-container
    restart: unless-stopped
    ports:
      - "8082:8080"
    # File này chỉ dành cho các biến riêng của backend (SMTP, Cloudinary...)
    # Docker Compose sẽ đọc file .env ở gốc trước để thay thế các biến bên dưới
    env_file:
      - ./.env
    environment:
      # Các biến này được thay thế từ tệp .env ở thư mục gốc
      - DB_NAME=${DB_NAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - BACKUP_DIR=/app/backups

    volumes:
      - ./backups:/app/backups
    networks:
      - internship-network

  internship-app-frontend:
    image: namvu26112005/internship-frontend:dev

    env_file:
      - ./.env

    container_name: frontend-container
    restart: unless-stopped
    ports:
      - "5173:80"
    depends_on:
      - internship-app-backend
    networks:
      - internship-network

  internship-app-frontend-client:
    image: namvu26112005/internship-frontend-client:dev

    env_file:
      - ./.env

    container_name: frontend-client-container
    restart: unless-stopped
    ports:
      - "3000:80"
    depends_on:
      - internship-app-backend
    networks:
      - internship-network

volumes:
  backup-data:

networks:
  internship-network:
    driver: bridge
