name: CD - Deploy to EC2
on:
  workflow_run:
    workflows: ["CI - Build and Test"]
    types:
      - completed
    branches: [cicd_namvu]

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
          script: |
            cd /home/ubuntu/docker_internship

            echo ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} --password-stdin

            docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/internship-backend:dev
            docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/internship-frontend:dev

            # Dừng và dọn dẹp container cũ
            docker compose down -v --remove-orphans

            # Dọn dẹp image rác
            docker image prune -f

            # Khởi động lại với image mới
            docker compose up -d
